##### debugging shortcuts #####

snippet 111
	println("!!!!!!!!!!!!!!!!!!!!")
snippet 222
	println("@@@@@@@@@@@@@@@@@@@@")
snippet 333
	println("####################")
snippet 444
	println("$$$$$$$$$$$$$$$$$$$$")
snippet 555
	println("%%%%%%%%%%%%%%%%%%%%")
snippet 666
	println(\`\m/>.<\m/\`)

##### spew snippet #####
snippet dump
	spew.Dump(${1})
